#!/bin/bash

cd ~/.bitmex-checker # the main repository should be in this directory
FOUND=`find ~/.bitmex-checker -mmin -120 -name bitmex-status -not -empty -print`
if [ -z "$FOUND" ]
  then # we don't have recent notification (120 minutes)
    if node margin-bitmex.js -w 25 > ~/.bitmex-checker/bitmex-status 2>&1
    then # margin is safe
      rm -f ~/.bitmex-checker/bitmex-status
    else # problematic price and no recent margin notification, notify the user
      ( echo "Bitmex: liquidation price getting close" ; cat ~/.bitmex-checker/bitmex-status ) | \
        signal-cli -u +1123123123 send +1232323232323
    fi
  fi

    if node margin-bitmex.js -w 13 > ~/.bitmex-checker/bitmex-status-urgent 2>&1
    then # we are safe
      rm -f ~/.bitmex-checker/bitmex-status-urgent
    else # problematic price, let's notify the user
      ( echo "Bitmex: We are too close to liquidation price" ; cat ~/.bitmex-checker/bitmex-status-urgent ) | \
        signal-cli -u +1123123123 send +1232323232323
    fi